fastapi
uvicorn
pydantic
langchain
langchain-community
requests
python-dotenv
faiss-cpu
sentence-transformers
pypdf
langchain-huggingface
langchain-text-splitters
langchain-ollama
trimesh
shapely
scipy
networkx
langchain-google-genai
streamlit
